################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/IrisFlowerClustering/bin/Debug/net6.0
/IrisFlowerClustering/obj
/TaxiFarePrediction/bin/Debug/net6.0
/TaxiFarePrediction/obj
UD
SDNET2018.zip
CD
obj
bin
/MovieRecommender/Data/Model.zip
/TransferLearningTF/Data
Data
